# Lab 1 Assignment: Basics of Python

Solve the questions in this jupyter notebook. You must:
- make your code tidy with appropriate comments.
- Use the code segment below the questions.
- Submit the code by 11:59 PM, Saturday

# 1. Read two inputs from the user. Write a Python program to print their product. If the product is greater than 1000, then print their sum as well.

In [30]:
def Result():
 Number_1 = int(input("Enter the 1st number: "))
 Number_2 = int(input("Enter the 2nd number: "))

 Product = (Number_1 + Number_2)
 if Product > 1000:
   return Product

 else :
   return (Number_1 * Number_2)

print(Result())

Enter the 1st number: 504
Enter the 2nd number: 507
1011

# 2. Write a Python program to find the area and perimeter of a circle. Read inputs from the user.

In [3]:
import math

Radius = int(input ("Enter the radius of the circle :"))

Pi = 3.1416

Area = (Pi * Radius * Radius)
print ("Area of the circle is:", Area)

Perimeter = (2 * Pi * Radius)
print ("Perimeter of the circle is:", Perimeter)

Enter the radius of the circle :10
Area of the circle is: 314.16
Perimeter of the circle is: 62.832

# 3. Given a positive integer N (read from the user), write a Python program to calculate the value of the following series.

> Indented block


`1^2 + 2^2 + 3^2 + 4^2 + … + N^2`

In [1]:
Number = int(input ("Enter the positive integer number : "))

Addition = 0
for N in range (1, (Number+1)):
   Addition += (N**2)

print (( "Addition of the following series :") , Addition)

Enter the positive integer number : 4
Addition of the following series : 30

# 4. Given a positive integer N (read from the user), write a Python program to check if the number is prime or not.

In [25]:
Number = int (input ("Enter the positive integer number: "))
for N in range (2, Number):

  if (Number % N) == 0:
    print ("The number is not prime")
    break

else:
  print ("The number is prime")

Enter the positive integer number: 100
The number is not prime

# 5. Given a list of numbers (hardcoded in the program), write a Python program to calculate the sum of the list. Do not use any built-in function.

In [37]:
Number_list = [2, 3, 4 ,5]
X = 0
for N in Number_list:
  X = (X + N)

print("The sum of number list :", X)

The sum of number list : 14

# 6. Given a list of numbers (hardcoded in the program), write a Python program to calculate the sum of the even-indexed elements in the list.

In [22]:
Number_list = [2, 3, 4, 5]
X = 0

for N in Number_list:
  Y = Number_list.index(N)

  if (Y % 2) == 0:
    X += N

print("The sum of the even-indexed elements in the list :", X)

The sum of the even-indexed elements in the list : 6

# 7. Given a list of numbers (hardcoded in the program), write a Python program to find the second largest element of the list.

In [24]:
Number_list = [2, 3, 4, 5]

X = 0
Number_list.sort()

print ("The second largest element of the list :", Number_list[-2] )

The second largest element of the list : 4

# 8. Given a string, display only those characters which are present at an even index number. Read inputs from the user.

In [10]:
I = str(input("Enter the string: "))
J = len(I)

for N in  range(0,J):
  if (N % 2) == 0:

    print(I[N])

Enter the string: Hossain
H
s
a
n

# 9. Given a string and an integer number N, remove characters from a string starting from zero up to N and print the new string. N must be less than the length of the string. Read inputs from the user. Do not use any built-in function.

In [32]:
I = str(input("Enter the string: "))
J = 0

for t in I:
  J = J + 1

N = int(input("Enter a number less than %d : " % J))
K = ""

for R in range(0, J):
  if (R > N):
    K = (K + I[R])

print("The new string: " , K)

Enter the string: Hossain
Enter a number less than 7 : 4
The new string:  in

 10. Given a string, find the count of the substring “CSE303” appeared in the given string. Do not use any built-in function.

 The string is: "This is CSE303 course. The name of CSE303 is: Statistics for Data Science. It's a fundamental CSE course for future data scientists."

In [14]:
I = "This is CSE303 course. The name of CSE303 is: Statistics for Data Science. It's a fundamental CSE course for future data scientists."
J = "CSE303"
N = 0
X = 0

for K in I:
    N = (N+1)

for i in range(0,n):
    if (I[i-5] == 'C') and (I[i-4] == 'S') and (I[i-3] == 'E') and (I[i-2] == '3') and  (I[i-1] == '0') and (I[i] == '3'):
      X = (X+1)

print("The count of the substring “CSE303”: " ,X)

The count of the substring “CSE303”:  2

# 11. Given a two list of numbers (hardcoded in the program), create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list. You can assume that the length of both list are the same.

In [19]:
List_Num_1 = [3,4,5,10]
List_Num_2 = [6,7,8,9]
List_Num_3 = []

for I in List_Num_1:
  if(I % 2!=0):
    List_Num_3.append(I)

for J in List_Num_2:

  if(J%2==0):
    List_Num_3.append(J)

print("The new number list: " ,(List_Num_3))

The new number list:  [3, 5, 6, 8]



# 12. Given a string, write a python function that will check if it is palindrome or not. Define a function named palindrome_checker_(your-student-id) in your program.

In [5]:
def Palindrome_checker(N,ST,M):
  if N >= (M/2):
    return True

  elif ST[N] != ST[(M-N)-1]:
    return False

  return Palindrome_checker((N+1),ST,M)

I = str(input("Enter your-student-id: "))

J = len(I)

I = I.lower()

if Palindrome_checker(0,I,J) == True:
  print("It is a palindrome.")

else:
  print("It is not a palindrome.")

Enter your-student-id: 2021-1-60-071
It is not a palindrome.

# BONUS !

### Go to Kaggle.com
### Download Titanic Dataset
### Load the Titatnic Dataset in Python Using Pandas Library

In [7]:
import pandas

In [13]:
Data = pandas.read_csv("titanic.csv")

In [14]:
Data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [15]:
Data.describe

<bound method NDFrame.describe of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>